<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MUSCLE UP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Info_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Food_page"
            android:exported="false" />
        <activity
            android:name=".BMI_Page"
            android:exported="false" />
        <activity
            android:name=".BMI_Result"
            android:exported="false" />
        <activity
            android:name=".BMI_History"
            android:exported="false" />
        <activity
            android:name=".BMI_Page"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".BMI_Result"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".AllExercises"
            android:exported="false" />
        <activity
            android:name=".Exercise_info"
            android:exported="false" />
        <activity
            android:name=".Loading_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>